<div class='loyalty-type'>
  <div class='loyalty-head'>
    <p><b>Stamp</b></p>
    <!-- <button class='button'>Add New</button>  -->
    <button class="button" nz-button nzType="primary" nzSize="small"><span>Edit</span></button>
  </div>
  <nz-card *ngFor="let item of imgList; index as i">
    <div class="loyalty-box">
      <img [src]="item.imageSrc" alt="can not load" height="80px">
      <a><i nz-icon nzType="edit" nzTheme="fill"></i></a>
    </div>
  </nz-card>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Select Image</ng-template>

  <ng-template  #modalContent>
    <form enctype="multipart/form-data">
      <label  class="custom-file-upload content-center">
        <input (change)="handleFileSelect($event)" type=file   accept=".jpg, .jpeg, .png" name="files[]" size=30>
        <img class="upload-image" [src]="isrc? isrc: '../../../../../../assets/upload.png'" alt="">
    </label>
      </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Back</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Add</button>
  </ng-template>
</nz-modal>