.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  nz-header {
    background: #fff;
    padding: 0;
    margin-bottom: 2px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);

  }

  nz-content {
    margin: 0 16px;
  }
.siderbar-menu{
  height: 82vh;
  overflow: scroll;
}
.siderbar-menu ::-webkit-scrollbar {
  display: none;
}

